In [3]:
import pandas as pd

results = pd.read_csv("./model_evaluation/RandomForest.csv")
results

,Unnamed: 0,jruby@2,hive@1,camel@0,hive@0,camel@1,activemq@3,activemq@2,lucene@2,derby@0,...,hbase@1,hbase@0,camel@2,groovy@1,wicket@0,activemq@0,wicket@1,activemq@1,lucene@0,lucene@1
0,AUC-ROC,0.784657,0.650811,0.710150,0.615647,0.772896,0.769206,0.765220,0.732368,0.853534,...,0.692276,0.690459,0.726030,0.832865,0.833153,0.663370,0.773278,0.762034,0.752959,0.891675
1,F1-score,0.321168,0.219355,0.258065,0.427397,0.344498,0.395000,0.546667,0.067416,0.648402,...,0.508306,0.422701,0.259459,0.602410,0.440678,0.251451,0.187050,0.510638,0.469314,0.637771
2,Precision,0.431373,0.276423,0.206186,0.352941,0.439024,0.381643,0.616541,0.130435,0.640602,...,0.573034,0.620690,0.285714,0.714286,0.549296,0.173333,0.351351,0.685714,0.430464,0.559783
3,Recall,0.255814,0.181818,0.344828,0.541667,0.283465,0.409326,0.491018,0.045455,0.656394,...,0.456716,0.320475,0.237624,0.520833,0.367925,0.457746,0.127451,0.406780,0.515873,0.741007
4,TP,0.255814,0.181818,0.344828,0.541667,0.283465,0.409326,0.491018,0.045455,0.656394,...,0.456716,0.320475,0.237624,0.520833,0.367925,0.457746,0.127451,0.406780,0.515873,0.741007
5,# of TP,22.000000,34.000000,60.000000,78.000000,36.000000,79.000000,82.000000,3.000000,426.000000,...,153.000000,108.000000,24.000000,25.000000,39.000000,65.000000,13.000000,48.000000,130.000000,103.000000

In [5]:
results = pd.read_csv("./model_evaluation/XGBoost.csv")
results

,Unnamed: 0,jruby@2,hive@1,camel@0,hive@0,camel@1,activemq@3,activemq@2,lucene@2,derby@0,...,hbase@1,hbase@0,camel@2,groovy@1,wicket@0,activemq@0,wicket@1,activemq@1,lucene@0,lucene@1
0,AUC-ROC,0.745036,0.629905,0.648619,0.607441,0.764891,0.729829,0.740809,0.705736,0.831675,...,0.664155,0.671238,0.710999,0.787219,0.806987,0.604085,0.750138,0.732271,0.698032,0.877570
1,F1-score,0.310811,0.260536,0.168040,0.434109,0.325359,0.314685,0.529412,0.088496,0.650566,...,0.519440,0.375465,0.271845,0.555556,0.427807,0.209895,0.184783,0.532020,0.443730,0.638889
2,Precision,0.370968,0.202985,0.117783,0.345679,0.414634,0.237467,0.520231,0.106383,0.637574,...,0.542208,0.502488,0.266667,0.595238,0.493827,0.133333,0.207317,0.635294,0.372973,0.520362
3,Recall,0.267442,0.363636,0.293103,0.583333,0.267717,0.466321,0.538922,0.075758,0.664099,...,0.498507,0.299703,0.277228,0.520833,0.377358,0.492958,0.166667,0.457627,0.547619,0.827338
4,TP,0.267442,0.363636,0.293103,0.583333,0.267717,0.466321,0.538922,0.075758,0.664099,...,0.498507,0.299703,0.277228,0.520833,0.377358,0.492958,0.166667,0.457627,0.547619,0.827338
5,# of TP,23.000000,68.000000,51.000000,84.000000,34.000000,90.000000,90.000000,5.000000,431.000000,...,167.000000,101.000000,28.000000,25.000000,40.000000,70.000000,17.000000,54.000000,138.000000,115.000000

In [6]:
results = pd.read_csv("./model_evaluation/SVM.csv")
results

,Unnamed: 0,jruby@2,hive@1,camel@0,hive@0,camel@1,activemq@3,activemq@2,lucene@2,derby@0,...,hbase@1,hbase@0,camel@2,groovy@1,wicket@0,activemq@0,wicket@1,activemq@1,lucene@0,lucene@1
0,AUC-ROC,0.696057,0.591579,0.728226,0.626186,0.699470,0.717909,0.756476,0.658648,0.828722,...,0.667387,0.668044,0.664174,0.791667,0.702710,0.663463,0.74953,0.714847,0.721418,0.817461
1,F1-score,0.160000,0.134454,0.242424,0.412371,0.256098,0.236162,0.354545,0.029412,0.633914,...,0.462451,0.324435,0.160584,0.080000,0.133333,0.297297,0.00000,0.305556,0.409449,0.318408
2,Precision,0.571429,0.313725,0.256410,0.408163,0.567568,0.410256,0.735849,0.500000,0.652529,...,0.684211,0.526667,0.305556,1.000000,0.571429,0.241228,0.00000,0.846154,0.406250,0.516129
3,Recall,0.093023,0.085561,0.229885,0.416667,0.165354,0.165803,0.233533,0.015152,0.616333,...,0.349254,0.234421,0.108911,0.041667,0.075472,0.387324,0.00000,0.186441,0.412698,0.230216
4,TP,0.093023,0.085561,0.229885,0.416667,0.165354,0.165803,0.233533,0.015152,0.616333,...,0.349254,0.234421,0.108911,0.041667,0.075472,0.387324,0.00000,0.186441,0.412698,0.230216
5,# of TP,8.000000,16.000000,40.000000,60.000000,21.000000,32.000000,39.000000,1.000000,400.000000,...,117.000000,79.000000,11.000000,2.000000,8.000000,55.000000,0.00000,22.000000,104.000000,32.000000

In [7]:
from data_utils import read_dataset

projects = read_dataset()
total_defect = 0
total = 0
for project_name in projects:
    train, test = projects[project_name]
    total_defect += sum(train["target"])
    total_defect += sum(test["target"])
    total += len(train)
    total += len(test)
print(total_defect)
print(total)

9387
70278